body{
    background:rgb(21, 214, 214) ;
}
h1{
    font-size: 60px;
    color: rgb(216, 78, 216);
    text-align: center;
}
p{
    font-size: 30px;
    color: rgb(58, 8, 58);
    text-align: center
}
img{
    width: 300px;
    height: 300px;
    margin: 30px;
    margin-left: 130px;
}
img{
    width: 250px;
    margin-left: 300px;
}
.cabecalho{
    background-color: blueviolet;
    display: flex;
}
.logoimg{
    width: 120px;
    margin-left: 200px;
}
.listacabecalho{
    display: flex;
    margin-left: 200px;
    margin-top: 125px;
}
.itemlistacabecalho{
    list-style: none;
    text-transform: uppercase;
    color: black;
    font-size: 30px;
    padding-left: 35px;
}